.one{
    background-color:#E2E2E2;

}
.mid{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 25%;
    margin-right: 25%;
    border-left-style: solid;
    border-left-color: lightslategray;
    border-left-width: 1.5px;
    border-right-style: solid;
    border-right-color: lightslategray;
    border-right-width: 1.5px;
    border-top-style: solid;
    border-top-color: lightslategray;
    border-top-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: lightslategray;
    border-bottom-width: 1.5px;
    color: lightslategrey;
}
.id{
    margin-top:20px;
}
.pass{
    margin-top: 20px;
}
button{
    background-color: #2E86C1;
    color: lightyellow;
}
.button{
    margin-top: 20px;
 text-align: center;
 margin-bottom: 20px;

}
#hand{
    text-align: center;
    margin-top: 10px;
}